body {
    /* Slightly off white. I guess. */
    background-color: azure;
}

.required:before {
    content: " *";
    color: red;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

div#top {
    padding: 20px;
}

span#feedback {
    background-color: plum;
    margin-left: 20px;
}

header {
    float: right;
}

ul.buttonList {
    /* position: absolute; */
    /* left: 0; */
    float: right;
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

ul.buttonList > li {
    display: inline-block;
}

.buttonList button {
    /* width: 100%; */
}

div.timeline  {
    overflow-x: scroll;
    width: 100%;
}


/* Maybe should just use jquery ui sliders. */
input[type="range"]::-moz-range-progress {
    background-color: rgb(162, 162, 253);
}

label.before::after {
    content: ":";
}

.mainGroup{
    padding: 10px;
    margin: 10px;
}

.fieldContainer{
    background: lightgray;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}
