.required:before {
    content: " *";
    color: red;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

div#top {
    background-color: lightgray;
}

span#feedback {
    background-color: plum;
    margin-left: 20px;
}

header {
    float: right;
}

ul.buttonList {
    float: left;
    margin-top: 0;
    padding: 0;
    list-style-type: none;
}

div.timeline{
    margin-left: 40px;
}