body {
    /* Slightly off white. I guess. */
    background-color: azure;
}

.required:before {
    content: " *";
    color: red;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

div#top {
    padding: 20px;
}

span#feedback {
    background-color: plum;
    margin-left: 20px;
}

header {
    float: right;
}

#filter-list  {
    list-style-type: none;
    padding-left: 0;
}

ul.buttonList {
    /* position: absolute; */
    /* left: 0; */
    float: right;
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

ul.buttonList > li {
    display: inline-block;
}

div.timeline  {
    overflow-x: scroll;
    width: 100%;
}


.check-grid > div {
    display: inline-block;
    padding-right: 10px;
    text-align: center;
    
}

.check-grid label {
    display: block;
}

/* Maybe should just use jquery ui sliders. */
input[type="range"]::-moz-range-progress {
    background-color: rgb(162, 162, 253);
}

label.before::after {
    content: ":";
}

.mainGroup{
    padding: 10px;
    margin: 10px;
}

.fieldContainer{
    background: lightgray;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}



input{
    color: inherit;
    border-width: 1px;
    padding: 3px;
    border-radius: 3px;
}

button{
    align-items: center;
    background: #3db4f2;
    border-radius: 4px;
    color: rgb(237,241,245);
    cursor: pointer;
    display: inline-flex;
    margin-right: 10px;
    margin-top: 15px;
    padding: 10px 15px;
    transition: .2s;
    border-width: 0px;
}

button.danger{
    background: rgba(232,93,117,.8);
}

.smallClose{
    margin: 2px;
    padding: 3px 15px;
}

.nlist {
    list-style-type: none;
    margin-left: 0ch;
    padding-left: 0ch;
}

.nlist-label {
    width: 5ch;
    text-align: right;
    display: inline-block;
    margin-right: 1ch;

}
.nlist-label::after {
    content: " ";
}