table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

/* Time to Watch */
td:nth-child(1) {
    text-align: right;
}

tbody tr:nth-child(odd) {
    background-color: #dddddd;
    /* color: #fff; */
}

/* https://stackoverflow.com/a/66550060/1993919 */
label.label-checkbox {
    cursor: pointer;
  }
  
  
  label.label-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  label.label-checkbox span {
    padding: 11px 21px;
    border: 1px solid #ccc;
    display: inline-block;
    color: #202020;
    border-radius: 6px;
    margin: 7px;
    background: #f5f5f5;
    user-select: none;
  }
  
  label.label-checkbox input:checked + span {
    box-shadow: inset 1px 2px 5px #777;
    transform: translateY(1px);
    background: #e5e5e5;
  }