table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

/* Time to Watch */
td:nth-child(1) {
    text-align: right;
}

tbody tr:nth-child(odd) {
    background-color: #dddddd;
    /* color: #fff; */
}